.gallery .card {
  cursor: pointer;
}

.galleryShadow {
  display: none;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}

.galleryModal {
  margin-top:5rem ;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
}

.galleryModal .galleryContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.galleryModal .galleryContainer img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  -webkit-box-shadow: 0px 11px 13px -5px #DAA520; 
  box-shadow: 0px 11px 13px -5px #DAA520;
  border-radius: 5px;
}

.galleryModal .galleryContainer .galleryText {
  position: absolute;
  width: 100%;
  height: auto;
  top: 100%;
  color: #fff;
  text-align: center;
}

.galleryModal .galleryIcon {
  position: absolute;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  color: #fff;
}

.galleryModal .gIquit {
  right: 10px;
  top: 10px;
}

.galleryModal .gIleft {
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.galleryModal .gIright {
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/*# sourceMappingURL=main.css.map */
@media (min-width: 576px){


.card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 4;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}
}